# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Entorno y Secretos
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Dependencias (si usaras npm en el futuro)
node_modules/

# Temporales de compilación o del sistema
dist/
build/
tmp/
temp/